<li>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</li>
<li>
  <%= f.label :image, "Image (should be 940px wide and up to 1000px tall):" %>
  <%= f.file_field :image %>
</li>
<li>
  <%= f.label :alt_text, "Alt Text" %>
  <%= f.text_field :alt_text %>
</li>
<li>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>
</li>