<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= controller.controller_name %> &gt;&gt; <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'reset','admin', :cache => 'admin_styles' %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= javascript_include_tag  'utils/modernizr',
                                'jquery/jquery-1.4.2.min.js',
                                'jquery/jquery-ui-1.7.2.custom.min.js', 
                                'ui/dropdowns', 
                                'ui/sortables', :cache => 'admin_tools' %>
    <%= yield :headers %>
  </head>
  <body id="<%= controller.controller_name %>_<%= controller.action_name %>" class="<%= controller.controller_name %>">
    <nav>
      <ul>
        <li>
          <%= link_to image_tag("icon_folio.png", :width => 23, :height => 20, :alt => "folio"), categories_path %>
          <ul id="categories" class="sub_navigation sorted_list">
            <% if !@categories.blank? %>
              <% for category in @categories %>
                <li id="category_<%= category.id %>" class="category">
                  <%= link_to category.name, edit_category_path(category) %>
                    <% if !category.projects.blank? %>
                    <ul class="sub_navigation">
                      <% for project in category.projects %>
                        <li><%= link_to project.name, edit_project_path(project) %></li>
                      <% end %>
                    </ul>
                    <% end %>
                  <%= image_tag("icon_drag.png", :width => 14, :height => 14, :class => "drag", :alt => "drag to reorder this list") %>
                </li>
              <% end %>
            <% end %>
            <li class="new"><%= link_to "New Category", new_category_path %></li>
            <li class="new"><%= link_to "New Project", new_project_path %></li>
          </ul>
        </li>
      </ul>
    </nav>
    <section id="content">
      <%= yield :layout %>
    </section>
  </body>
</html>