<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Jim Jeffers &gt; <%= controller.action_name.capitalize %> <%= "&gt; #{@project.name}" unless @project.nil? %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <%= stylesheet_link_tag 'reset', 'folio', :cache => 'site' %>
    <script type="text/javascript" src="http://use.typekit.com/gni4okt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body id="<%= @page_id || controller.controller_name %>" class="<%= @page_class || "#{controller.controller_name}_#{controller.action_name}" %>">
    <header>
      <h1><%= @main_heading %></h1>
      <h2 id="site_title"><span class="owner_name">Jim Jeffers</span> <span class="owner_title">Interaction Designer &amp; Developer</span></h2>
    </header>
    <nav id="primary_navigation">
      <a href="/work" class="work primary_action">Work</a>
      <a href="/about" class="about primary_action">About</a>
      <a href="/inquire" class="inquire primary_action">Inquiries</a>
    </nav>
    <%= yield :layout %>
    <footer class="tk-apertura">
      All content and images &copy; 2003-<%= Time.now.strftime("%Y") %> by Jim Jeffers, unless otherwise noted.
    </footer>
    <% if ENV["RAILS_ENV"] == "development" %>
    <ul id="grid">
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
    </ul>
    <%= javascript_include_tag "dev/grid", :cache => "dev" %>
    <% end %>
    <%= javascript_include_tag "utils/modernizr", "jquery/jquery-1.4.2.min", :cache => "utils" %>
  </body>
</html>